{% extends "base.html" %}

{% block content %}
<h1>Citation Analysis</h1>
<p>This is completely experimental; if you don't know what it is,
  it's not useful for you.</p>
<div class="modal-body">

  {% from "includes/form_helpers.html" import render_field %}
    <table id="authors-table" class="table-bordered table-striped">
        <thead>
            <th>Author's Name</th>
            <th>Total citations</th>
        </thead>
        <tbody>
            {% if author  %}
                <tr>
                    <td>{{ author[0] }}</td>
                    <td>{{ author[1] }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No data to show.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ act }}">Return home</a>
{% endblock content %}
